[server]
log_level = "info"
address = "127.0.0.1"
port = 3_000

[[modules]]
name = "eth_to_cosmos"
src_chain = "{{ .EthChainID }}"
dst_chain = "{{ .CosmosChainID }}"

  [modules.config]
  tm_rpc_url = "{{ .TmRPC }}"
  ics26_address = "{{ .ICS26Address }}"
  eth_rpc_url = "{{ .EthRPC }}"
  eth_beacon_api_url = "{{ .BeaconAPI }}"
  signer_address = "{{ .SignerAddress }}"
  mock = {{ .MockWasmClient }}

[[modules]]
name = "cosmos_to_eth"
src_chain = "{{ .CosmosChainID }}"
dst_chain = "{{ .EthChainID }}"

  [modules.config]
  tm_rpc_url = "{{ .TmRPC }}"
  ics26_address = "{{ .ICS26Address }}"
  eth_rpc_url = "{{ .EthRPC }}"
  sp1_config = "{{ .SP1Config }}"
