{
  "modules": [
    {{- range $index, $module := .Modules }}
    {{- if $index }},{{ end }}
    {{ $module.ToJSON }}
    {{- end }}
  ],
  "server": {
    "address": "{{ .Server.Address }}",
    "port": {{ .Server.Port }}
  },
  "tracing": {
    "level": "{{ .Tracing.Level }}",
    "use_otel": {{ .Tracing.UseOtel }},
    "service_name": "{{ .Tracing.ServiceName }}"{{ if .Tracing.OTelEndpoint }},
    "otel_endpoint": "{{ .Tracing.OTelEndpoint }}"{{ end }}
  }
}
