{
  "server": {
    "log_level": "info",
    "address": "127.0.0.1"
  },
  "modules": [
    {
      "name": "cosmos_to_cosmos",
      "port": 3001,
      "config": {
        "src_rpc_url": "{{ .ChainARPC }}",
        "target_rpc_url": "{{ .ChainBRPC }}",
        "signer_address": "{{ .ChainBUser }}"
      }
    },
    {
      "name": "cosmos_to_cosmos",
      "port": 3002,
      "config": {
        "src_rpc_url": "{{ .ChainBRPC }}",
        "target_rpc_url": "{{ .ChainARPC }}",
        "signer_address": "{{ .ChainAUser }}"
      }
    }
  ]
}
