[package]
name = "attestation"
version.workspace = true
description = "Attestation light client for IBC on Solana"
edition.workspace = true
license.workspace = true
repository.workspace = true
readme = "../../../README.md"
keywords = ["cosmos", "ibc", "solana", "attestation", "anchor"]
categories = ["cryptography", "blockchain"]

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "lib"]
name = "attestation"

[dependencies]
anchor-lang = { workspace = true, features = ["init-if-needed"] }
ics25-handler.workspace = true
alloy-sol-types = { workspace = true }
ibc-eureka-solidity-types = { workspace = true }

# Serialization
serde = { workspace = true }
serde_json = { workspace = true }

# Hashing
solana-keccak-hasher = { workspace = true }
sha2 = "0.10"

# ECDSA signature verification
solana-secp256k1-recover = { workspace = true }
