[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
ics07_tendermint = "8wQAC7oWLTxExhR49jYAzXZB39mu7WVVvkWJGgAMMjpV"
ics26_router = "HsCyuYgKgoN9wUPiJyNZvvWg2N1uyZhDjvJfKJFu3jvU"
ics27_gmp = "FHsRDbCxXxv1wWsAFccaPz2BSphGEEcnVNHXCBTP92Am"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[test]
startup_wait = 5000
