[package]
name        = "tendermint-light-client-update-client"
description = "Update client program for tendermint-light-client"
version     = { workspace = true }
edition     = { workspace = true }
repository  = { workspace = true }
license     = { workspace = true }

[features]
default = []
solana   = ["dep:tendermint-light-client-solana", "dep:anchor-lang"]
solidity = ["dep:ibc-eureka-solidity-types"]

[dependencies]
tendermint-light-client-verifier = { workspace = true }
tendermint-light-client-solana   = { workspace = true, optional = true }
anchor-lang                      = { workspace = true, optional = true}
ibc-client-tendermint            = { workspace = true, features = ["serde"] }
ibc-core-host-types              = { workspace = true }
ibc-core-client                  = { workspace = true }
ibc-core-client-types            = { workspace = true }
ibc-primitives                   = { workspace = true }
tendermint                       = { workspace = true }
sha2                             = { workspace = true }
thiserror                        = { workspace = true }
ibc-eureka-solidity-types        = { workspace = true, optional = true }

[dev-dependencies]
serde                            = { workspace = true, features = ["derive"] }
serde_json                       = { workspace = true, features = ["std"] }
hex                              = { workspace = true }
ibc-core-commitment-types        = { workspace = true }
prost                            = { workspace = true }
tendermint                       = { workspace = true }

