name: abigen

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'abi/**'
      - 'packages/go-abigen/**'
      - '**.sol'
      - 'bun.lockb'
  push:
    branches:
      - main
    paths:
      - 'abi/**'
      - 'packages/go-abigen/**'

jobs:
  check:
    runs-on: depot-ubuntu-24.04-4
    steps:
      - uses: actions/checkout@v5
      - name: Set up environment
        uses: ./.github/actions/foundry-setup

      - uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - uses: extractions/setup-just@v3

      - name: Install abigen
        run: go install github.com/ethereum/go-ethereum/cmd/abigen@latest

      - name: Run abigen
        run: just generate-abi

      - name: Check for diffs in go-abigen
        run: |
          if ! git diff --quiet HEAD -- packages/go-abigen; then
            echo "Git diff found in the selected directory. Failing the job."
            exit 1
          else
            echo "No changes detected in the selected directory."
          fi

  golangci:
    runs-on: depot-ubuntu-24.04-4
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache-dependency-path: packages/go-abigen/go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5
          working-directory: packages/go-abigen

  test:
    runs-on: depot-ubuntu-24.04-4
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache-dependency-path: packages/go-abigen/go.sum

      - name: Unit test abigen
        run: cd packages/go-abigen && go test -v ./...
