name: e2e-mock
on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'justfile'
      - '**.rs'
      - '**.go'
      - '**.toml'
      - '**.lock'
      - '**.mod'
      - '**.sum'
      - '**.sol'
      - '.github/workflows/e2e-mock.yml'
      - '.github/actions/**'
      - 'bun.lockb'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FOUNDRY_PROFILE: ci
  SP1_PROVER: mock
  E2E_PROOF_TYPE: groth16
  SOLANA_VERSION: "2.3.13"
  ANCHOR_VERSION: "0.32.1"

permissions:
  contents: read
  packages: read

jobs:
  golangci:
    name: lint
    runs-on: depot-ubuntu-24.04-4
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
          cache-dependency-path: e2e/interchaintestv8/go.sum

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.5
          working-directory: e2e/interchaintestv8

  generate-matrix:
    runs-on: depot-ubuntu-24.04-4
    outputs:
      matrix: ${{ steps.get-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
      - name: Generate Test Matrix
        id: get-matrix
        uses: ./.github/actions/e2e-matrix
        with:
          skip-tests: TestWithRelayerTestSuite/Test_2_ConcurrentRecvPacketToEth,TestWithRelayerTestSuite/Test_MultiPeriodClientUpdateToCosmos,TestWithRelayerTestSuite/Test_5_FinalizedTimeoutPacketFromEth,TestWithRelayerTestSuite/Test_UpdateClientToCosmos,TestWithEthToEthAttestedTestSuite,TestWithMultiAttestorTestSuite

  build-e2e-programs:
    runs-on: depot-ubuntu-24.04-4
    steps:
      - uses: actions/checkout@v5
      - name: Build E2E artifacts
        uses: ./.github/actions/e2e-build
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  e2e:
    needs: [generate-matrix, build-e2e-programs]
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    name: ${{ matrix.entrypoint }}/${{ matrix.test }}
    env:
        ETH_TESTNET_TYPE: anvil
        ETH_LC_ON_COSMOS: dummy
        COSMOS_LC_ON_ETH: sp1
        IBC_ATTESTOR_IMAGE: ghcr.io/cosmos/ibc-attestor:v0.3.0

    runs-on: depot-ubuntu-24.04-4
    steps:
      - uses: actions/checkout@v5
      - name: Set up E2E environment
        uses: ./.github/actions/e2e-setup
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Tests
        env:
          NETWORK_PRIVATE_KEY: ${{ secrets.SP1_PRIVATE_KEY }}
        run: |
          cd e2e/interchaintestv8
          go test -v -mod=readonly . -run "^${{ matrix.entrypoint }}$/${{ matrix.test }}$" -timeout 40m
