name: e2e-full
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 */3 * *"  # Run every 3 days at midnight UTC

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FOUNDRY_PROFILE: ci
  ETH_TESTNET_TYPE: pos
  SP1_PROVER: network
  ETHEREUM_POS_NETWORK_PRESET: mainnet
permissions:
  contents: read

jobs:
  generate-matrix:
    name: Generate Test Matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.get-matrix.outputs.matrix }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      
      - name: Generate Test Matrix
        id: get-matrix
        uses: ./.github/actions/e2e-test-matrix
        with:
          skip-tests: 'Test_2_ConcurrentRecvPacketToEth_Groth16,TestMultiPeriodClientUpdateToCosmos'

  e2e:
    needs: generate-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    name: ${{ matrix.test }}
    runs-on: depot-ubuntu-22.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: "Set up environment"
        uses: ./.github/setup

      - name: "Set up E2E environment"
        uses: ./.github/setup/e2e-action.yml

      - name: Run Tests
        env:
          NETWORK_PRIVATE_KEY: ${{ secrets.SP1_PRIVATE_KEY }}
        run: |
          cd e2e/interchaintestv8
          go test -v -mod=readonly . -run '^${{ matrix.test }}$' -timeout 40m
