name: e2e-minimal
on:
  workflow_dispatch:
    inputs:
      wasm-eth-light-client-tag:
        description: 'Wasm Eth light client release tag'
        type: choice
        required: true
        default: 'local'
        options:
          - local
          - cw-ics08-wasm-eth-v1.2.0
      proof-type:
        description: 'Proof type'
        type: choice
        required: true
        default: 'groth16'
        options:
          - groth16
          - plonk
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FOUNDRY_PROFILE: ci
  ETH_TESTNET_TYPE: pos
  SP1_PROVER: network
  ETHEREUM_POS_NETWORK_PRESET: minimal
  E2E_PROOF_TYPE: ${{ inputs.proof-type || 'groth16' }}
  E2E_PRIVATE_CLUSTER: true
  E2E_WASM_LIGHT_CLIENT_TAG: ${{ inputs.wasm-eth-light-client-tag }}
  SOLANA_VERSION: "2.1.17"
  ANCHOR_VERSION: "0.32.1"
permissions:
  contents: read

jobs:
  generate-matrix:
    runs-on: depot-ubuntu-24.04-4
    outputs:
      matrix: ${{ steps.get-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
      - name: Generate Test Matrix
        id: get-matrix
        uses: ./.github/actions/e2e-matrix
        with:
          skip-tests: TestWithRelayerTestSuite/Test_2_ConcurrentRecvPacketToEth

  e2e:
    needs: generate-matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.generate-matrix.outputs.matrix) }}
    name: ${{ matrix.entrypoint }}/${{ matrix.test }}
    runs-on: depot-ubuntu-24.04-4
    steps:
      - uses: actions/checkout@v5
      - name: Set up E2E environment
        uses: ./.github/actions/e2e-setup
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Tests
        env:
          NETWORK_PRIVATE_KEY: ${{ secrets.SP1_PRIVATE_KEY }}
        run: |
          cd e2e/interchaintestv8
          go test -v -mod=readonly . -run "^${{ matrix.entrypoint }}$/${{ matrix.test }}$" -timeout 60m
