name: release

on:
  release:
    types: [published]

jobs:
  release-sp1-programs:
    runs-on: depot-ubuntu-22.04-4
    if: startsWith(github.ref_name, 'sp1-programs-')
    steps:
      - uses: actions/checkout@v4
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@1.86.0
      - name: Install SP1 toolchain
        shell: bash
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --token ${{ secrets.GITHUB_TOKEN }}
          ~/.sp1/bin/cargo-prove prove --version
      - name: Install just
        uses: extractions/setup-just@v2

      - name: Build SP1 Programs
        shell: bash
        run: just build-sp1-programs

      - name: Upload SP1 programs to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: target/elf-compilation/riscv32im-succinct-zkvm-elf/release/sp1-ics07-tendermint-{update-client,membership,uc-and-membership,misbehaviour} 
          tag: ${{ github.ref }}
          overwrite: true
