name: release

on:
  release:
    types: [published]

jobs:
  release-sp1-programs:
    runs-on: depot-ubuntu-24.04-4
    if: startsWith(github.ref_name, 'sp1-programs-')
    steps:
      - uses: actions/checkout@v5
      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install SP1 toolchain
        shell: bash
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --token ${{ secrets.GITHUB_TOKEN }}
          ~/.sp1/bin/cargo-prove prove --version
      - name: Install just
        uses: extractions/setup-just@v3

      - name: Build SP1 Programs
        shell: bash
        run: just build-sp1-programs

      - name: Upload SP1 programs to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: programs/sp1-programs/target/elf-compilation/riscv32im-succinct-zkvm-elf/release/sp1-ics07-tendermint-{update-client,membership,uc-and-membership,misbehaviour}
          tag: ${{ github.ref }}
          overwrite: true

  release-cw-ics08-wasm-eth:
    runs-on: depot-ubuntu-24.04-4
    if: startsWith(github.ref_name, 'cw-ics08-wasm-eth-')
    steps:
      - uses: actions/checkout@v5

      - name: Upload cw-ics08-wasm-eth to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: e2e/interchaintestv8/wasm/cw_ics08_wasm_eth.wasm.gz
          tag: ${{ github.ref }}
          overwrite: true

  release-cw-ics08-wasm-attestor:
    runs-on: depot-ubuntu-24.04-4
    if: contains(github.ref_name, 'attestor')
    steps:
      - uses: actions/checkout@v5

      - name: Upload cw-ics08-wasm-attestor to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: e2e/interchaintestv8/wasm/cw_ics08_wasm_attestor.wasm.gz
          tag: ${{ github.ref }}
          overwrite: true

  release-ibc-attestor:
    runs-on: depot-ubuntu-24.04-4
    if: contains(github.ref_name, 'attestor')
    steps:
      - uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ibc attestor image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: programs/ibc-attestor/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/ibc-attestor:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/ibc-attestor:latest

      - name: Upload cw-ics08-wasm-attestor to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file_glob: true
          file: e2e/interchaintestv8/wasm/cw_ics08_wasm_attestor.wasm.gz
          tag: ${{ github.ref }}
          overwrite: true
