# Based on https://github.com/actions-rs/example/blob/master/.github/workflows/quickstart.yml
name: rust

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lints:
    name: fmt-and-clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: "Set up environment"
        uses: ./.github/setup

      - name: Install SP1 toolchain
        shell: bash
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --token ${{ secrets.GITHUB_TOKEN }}
          ~/.sp1/bin/cargo-prove prove --version

      - name: Install just
        uses: extractions/setup-just@v2
      - name: Build SP1 Programs
        run: just build-sp1-programs

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy

  tests:
    name: unit-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install SP1 toolchain
        shell: bash
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --token ${{ secrets.GITHUB_TOKEN }}
          ~/.sp1/bin/cargo-prove prove --version
      - name: "Set up environment"
        uses: ./.github/setup
      - name: Install just
        uses: extractions/setup-just@v2
      - name: Run unit tests
        run: just test-cargo
        env:
          RUST_BACKTRACE: 1

  build-relayer:
    name: build-relayer
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: "Set up environment"
        uses: ./.github/setup
      - name: Install SP1 toolchain
        shell: bash
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --token ${{ secrets.GITHUB_TOKEN }}
          ~/.sp1/bin/cargo-prove prove --version
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --bin relayer --release --locked

  build-operator:
    name: build-operator
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: "Set up environment"
        uses: ./.github/setup
      - name: Install SP1 toolchain
        shell: bash
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up --token ${{ secrets.GITHUB_TOKEN }}
          ~/.sp1/bin/cargo-prove prove --version
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --bin operator --release --locked

  build-08-wasm-eth:
    name: build-08-wasm-eth
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: "Check out the repo"
        uses: "actions/checkout@v4"
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy, run-script
          target: wasm32-unknown-unknown
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: run-script
          args: build-08-wasm-eth


